body {
    margin: 0;
  }

  #container,
  #container > .row {
    min-height: 100vh; /* Enforce full-screen styles for the contain and its direct child */
  }

  #navigation-col {
    background-color: skyblue;
    flex: 300px 0 0;
    padding-top: 35px;
    width:200px
    /* Use padding, not margin, because of the background color */
  }

  .navigation-item:hover { }

  #messages-container {
    /* height: some-value; */
  }

  #input-container textarea {
    /* height: some-value; */
  }

  .col-avatar {
    flex: 50px 0 0; /* Enforce specific width of the avatar image */
  }

  .avatar {
    border-radius: 50%; /* Makes the avatar look like a circle */
  }