body {
    margin: 0;
}

#container,
#container > .row {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

#navigation-col {
    background-color:#d7e3ec;
    flex: 300px 0 0;
    width:200px;
    /* Use padding, not margin, because of the background color */
}

.a:hover {
    background-color: rgb(103, 136, 150);
    color: white;
}

#messages-container{
    background-color:  #f5f7f8;
    border-radius: 5px; 
    border: 1px solid lightgray;
    padding: 16px;
    /* height: some-value; */
}

#input-container {
    max-height: 100px;
    margin-top: calc(100vh - 560px);
    margin-bottom: 1vh;
    /* height: some-value; */
}

.col-avatar {
    max-width: 50px;
    /* Enforce specific width of the avatar image */
}

.avatar {
    border-radius: 50%;
    width: 40px /* Makes the avatar look like a circle */
}

.a {
    padding-left: 10px;
    height: 45px;
    line-height: 45px;
}

.name {
    margin-bottom: 0;
}

.mt-3 {
    margin-bottom: 0;
}

.mt-4 {
    font-size: 1.3rem;
    font-weight: 600;
}

.name {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0;
}

.form-control {
    font-weight: 400;
    height: 100px;
    width: 100%;
}

 @media screen and (max-height: 650px) {
  #input-container {
    max-height: 100px;
    margin-top: 2vh;
    margin-bottom: 1vh;
} 