<!-- Directions: Use some input elements to make a basic form in your app component. 
    When you click the button to submit the form, it pushes that information, 
    as an object, into an array. 
    Use *ngFor to loop over that array and show the information 
    as a list somewhere on the page. Items in that list must be a child component. -->

<!-- Optional: Add a button to the child component that deletes that item from the list, 
    using the @Output decorator -->

<!--Building off of the code that you guys wrote last night for the assignment, 
    make your inputs into a form. The form must have at least 5 form controls, 
    and 3 different kinds of Validators. If the form is invalid, 
    then display some text to the user and disable the submit button.--> 

<div *ngIf="carsShowing">
  <div 
    *ngFor="let car of cars" class="content" 
    role="main">
    <app-child [item]="car"></app-child>
  </div>
</div>

<!-- We had to make at least 5 control forms -->
<form [formGroup]="carForm">
  <p>Car Make: (min 2, max 15)</p>
  <input formControlName="make"/>
  <p>Car Model: (min 4, max 15)</p>  
  <input formControlName="model" />
  <p>Car Year: (4 Years)</p>
  <input formControlName="year" />
  <p>Car Color: </p>
  <input formControlName="color" />
  <p>Email: </p>
  <input formControlName="email" />
  <p>{{ msg }}</p>
</form>

<button (click)="toggleCars()" 
[disabled]="carForm.status ==='INVALID'">
Toggle cars</button>


